body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #aaf173;
}

.quem-somos {
    background-color: rgb(146, 146, 219);
}

.margin {
    padding-top: 20px;
    padding-bottom: 50px;
}

#time {
    margin-bottom: 40px;
}

#gbl {
    margin-left: 30px;
    margin-right: 30px;
}

.parceiros {
    background-color: #000000;
}

.servicos {
    background-color: rgb(135, 127, 143);
}

.rodape {
    color: darkgray;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    padding-top: 50px;
    background-color: darkred;
}

.servimage {
    margin-bottom: 20px;
}